<% if(!session.cart){ %>
<section class="empty-cart">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center flex-column">
        <h3 class="empty-cart__title">Cart empty</h3>
        <p class="empty-cart__text m-0 text-muted">You probably haven't ordered a pizza jet.</p>
        <span class="empty-cart__text m-0 mb-5 text-muted"
          >To order a pizza, go to the <a href="/" class="btn empty-cart__button">home page</a>
        </span>

        <img src="/img/empty-cart.png" class="img-fluid empty-cart__img" alt="" />
      </div>
    </div>
  </div>
</section>
<% }else{ %>
<section class="cart">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="cart__title text-muted"><span class="svgicon-shopping-cart-solid me-2"></span>Order summary</h3>
        <hr />
      </div>
    </div>

    <% for(let pizza of Object.values(session.cart.items)) { %>
    <div class="row p-3 shadow shadow-sm m-1 bg-light">
      <div class="col-lg-1 col-md-2 col-sm-3 cart__img-box">
        <img src="/img/pizzas/<%= pizza.item.img %>" alt="" />
      </div>
      <div class="col-lg-9 col-md-6 col-sm-5 cart__content">
        <h4>Marinada</h4>
        <span class="badge bg-warning text-dark"><%= pizza.item.size %></span>
      </div>
      <div class="col cart__content">
        <p><%= pizza.qty %>Psc</p>
      </div>
      <div class="col cart__content">
        <p class="text-end cart__price">$<%= pizza.item.price * pizza.qty %></p>
      </div>
    </div>
    <% } %>
    <hr />
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <% if(user){ %>
        <form class="row" action="/orders" method="POST">
          <!-- phone number -->
          <div class="col-12">
            <div class="form-floating mb-2 shadow shadow-sm">
              <input type="text" class="form-control border-0" name="phone" id="phone" placeholder="Phone number" />
              <label for="phone">Phone number</label>
            </div>
          </div>
          <!-- address -->
          <div class="col-12">
            <div class="form-floating mb-2 shadow shadow-sm">
              <input type="text" class="form-control border-0" name="address" id="address" placeholder="Address" />
              <label for="address">Address</label>
            </div>
          </div>
          <div class="col-12">
            <button class="w-100 btn btn-md shadow shadow-sm cart__button" type="submit">Order now</button>
          </div>
        </form>

        <% }else{ %>
        <div class="cart__checkUser">
          <h4>Total amount: $<%= session.cart.totalPrice%></h4>
          <a href="/login" class="btn">Login to continue</a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
<% } %>
